
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0.01em solid red;
}

body{
    background-color: #333;
    
   
}


@media screen and (min-width: 480px){
    body{
        background-color: rgb(11, 43, 66);
    }
}

@media screen and (min-width: 767px){
    body{
        background-color: rgb(11, 43, 66);
    }    
}

@media screen and (min-width: 950px){
    body{
        background-color: rgb(168, 23, 161);
    }
}


.calculator{
    width: 300px;
    position: relative;
    margin: 200px auto;
    background-color: rgb(156, 156, 156);
    padding: 20px;
    border-radius: 20px;
}

.calc__display{
    background-color: rgb(84, 84, 84);
    border-radius: 3px 3px 0 0;
    height: 4em;
    font-size: 1em;
    color: #FFF;
    padding: 1.5em;
    font-family: 'Orbitron', sans-serif;
    text-align: right;

}
.calc__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.calc__keys button{
    font-size: 2em;
    border-radius: 0.2em;
}
.calc__keys button:hover{
    background-color: rgb(182, 182, 182);

}
.key--operator{
    background-color: rgb(177, 175, 175);
}

.key--equal {

  grid-column: -2;
  grid-column: span 4;
  
}