* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
   min-height: 100vh; 
   background-color: rgb(51, 51, 91);
   display: grid;
   place-items: center;
   
}
.calculadora{
   background-color: rgb(255, 119, 0);
   box-shadow: 0.5rem 0.5rem rgb(15, 15, 40);
   color: white;
   width: 350px;
   max-width: 100%;
   padding: 1.5rem;
   border-radius: 1rem;
   display: grid; 
   grid-template-columns: repeat(4,1fr);
   gap: 0.5rem;
}
.pantalla{
   grid-column: 1/ -1 ;
   background-color:rgb(67, 113, 113); 
   padding: 1.5rem;
   font-size: 2rem;
   text-align: right;
   border-radius:.5rem;
   margin-bottom: 1rem;
   font-family: monospace;
   font-weight: 600;
}

.btn{
   background-color: rgb(239, 175, 27); 
   color: rgb(255, 255, 255);
   box-shadow: 0.2rem 0.2rem rgb(235, 114, 15);
   border: 0;
   border-radius: 1em;
   padding: 1.5rem .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   }

   .btn:hover{
      background-color:  rgb(200, 92, 3);
   }

   #cero{
      grid-column: span 2;
   }

   #igual{
      grid-row: span 2;
      background-color: rgb(172, 64, 1);
   }
   #igual:hover{
      background-color:rgb(213, 66, 26);
   }


   